{% extends 'base.html' %}

<!-- @Anyi replace this part into the head_title part of base.html-->
{%block head_title%}
This is amazing!!!
{% endblock head_title%}

<!-- @Anyi replace this part into the content part of base.html-->
{% block content %}
Welcome to Tweetme 2
{% endblock content %}

<!-- @Anyi I want my page to automatically trigger a reload-->
<script>
    const xhr = new XMLHttpRequest() //instantiat
    const method = 'GET'//POST
    const url = '/tweets' // http://127.0.0.1:8000/tweets 
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url) //open up request with GET mtd and http://127.0.0.1:8000/tweets url
    xhr.onload = function () {//once it finishes loading logout the response that comes back from the request
        const serverResponse = xhr.response
        var listedItems = serverResponse.tweet_list_response
        console.log(listedItems)
    }
    xhr.send()//trigger that request
</script>