{% extends 'base.html' %}

<!-- @Anyi replace this part into the head_title part of base.html-->
{%block head_title%}
This is amazing!!!
{% endblock head_title%}

<!-- @Anyi replace this part into the content part of base.html-->
{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to Tweetme 2</h1>
    </div>
</div>

<div class="row mb-3">
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form-id' method='POST' action='/create-tweet'>
            {%csrf_token%}
            <div class='d-none alart alart-danger' id='tweet-create-form-error-id'></div>
            <!--I want my input type to be redirected to the homepage no matter what-->
            <input type='hidden' value='/' name='next' />
            <!--input type='hidden' value='/this-is-not-a-real-page' name='next' /-->
            <textarea required='required' class='form-control' name='content' placeholder='Your tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets-div-id">
    Loading ...
</div>

<!-- @Anyi I want my page to automatically trigger a reload-->
<script>

    function handleTweetFormatError(msg, display) {
        var myErrorDiv = document.getElementById("tweet-create-form-error-id")
        if (display === true) {
            // show error
            //set the alart classes to show
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        } else {
            //hide error
            //set the alart classes to show
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }
    //
    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()//prevent form submiting to the endpoint we set for the form
        //see event output from the console
        //console.log(event)

        const myForm = event.target

        //this is related to forms 
        const myFormData = new FormData(myForm)

        // form data is in form of key/value pairs
        //for (var myItem of myFormData.entries()) {
        //    console.log(myItem)
        //}

        //Lets use this to figure out where form data will be sent 
        // by getting the 'action' attribute of the form
        const action = myForm.getAttribute("action") //action holds url 
        //console.log(action)

        //get the 'method' attribute of the form
        const method = myForm.getAttribute("method")
        //console.log(method)
        //console.log(action, method)

        const xhr = new XMLHttpRequest() //instantiat
        const responseType = "json"
        xhr.responseType = responseType
        //xhr.open(method, url)
        xhr.open(method, action)// in this case the url is same as action ->/create-tweet
        //hence the url is handled by the urls.py 
        //which calls the tweet_create_view() mtd in the views.py

        //For Ajax to work with Django 
        // and to set HttpRequest.is_ajax() to true in the tweet_create_view() mtd views.py
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")

        xhr.onload = function () {

            if (xhr.status === 201) {//201 created
                handleTweetFormatError('contentErrorMsg', false)
                const newTweet = xhr.response //server response
                //console.log(newTweet.likes)
                const newTweetElement = formatTweetElement(newTweet)
                //console.log(newTweetElement)

                //Make newest tweets appear at the top
                const tempHtml = tweetsContainerElement.innerHTML
                tweetsContainerElement.innerHTML = newTweetElement + tempHtml

                //reset the form to blank after saving document
                myForm.reset()
            } else if (xhr.status === 400) {
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMsg;
                //console.log(errorJson)
                if (errorJson) {
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg) {
                        handleTweetFormatError(contentErrorMsg, true)
                    } else {
                        alert("An error occured again please try again")
                    }
                } else {
                    alert("An error occured again please try again")
                }
                console.log(contentErrorMsg)
            } else if (xhr.status === 401) {
                alert("You must loagin.")
                window.location.href = "/login"
            } else if (xhr.status === 403) {
                alert("You must loagin.")
                window.location.href = "/login"
            } else if (xhr.status === 500) {
                alert("There was a server error, please try again.")
            }

        }

        xhr.onerror = function () {
            alert("An error occured. Please try again later.")
        }
        xhr.send(myFormData)//send the form data because it is a POST 

    }

    //grabe html tag by id
    const tweetCreateFormEl = document.getElementById("tweet-create-form-id")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

    //const never changes, var and let can change
    //changes the text content in tweets-div-id

    //grabe html tag by id
    const tweetsContainerElement = document.getElementById("tweets-div-id") //get html elmt
    //tweetsEL.innerHTML = 'Loading...'//set html elmt

    //const loadTweets = function() {}
    function loadTweets(tweetElement) {

        const xhr = new XMLHttpRequest() //instantiat
        const method = 'GET'//POST
        const url = '/tweets' // http://127.0.0.1:8000/tweets 
        const responseType = "json"

        xhr.responseType = responseType
        xhr.open(method, url) //open up request with GET mtd and http://127.0.0.1:8000/tweets url
        xhr.onload = function () {//once it finishes loading logout the response that comes back from the request
            const serverResponse = xhr.response
            //const listedItems = serverResponse.tweet_list_response
            const listedItems = serverResponse //REST
            //console.log(listedItems)
            var finalTweetStr = ""
            var i;
            for (i = 0; i < listedItems.length; i++) {
                //console.log(i)
                //console.log(listedItems[i])
                //var currentItem = "<div class='mb-4'><h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "</p></div>"
                finalTweetStr += formatTweetElement(listedItems[i])
            }
            tweetElement.innerHTML = finalTweetStr //set html elmt
        }
        xhr.send()//trigger that request, in this case the GET request
    }

    loadTweets(tweetsContainerElement)

    //handle button
    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id, currentCount)
    }

    //create and return a like button
    function likeBtn(tweet) {
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Likes</button>"
    }

    //return a tweet
    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id='tweet-" + tweet.id + "'>"
            + "<p>" + tweet.content + "</p>"
            + "<div class='btn-group'>" + likeBtn(tweet) + "</div>" +
            "</div>"
        return formattedTweet
    }


</script>

{% endblock content %}